<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4>Please submit Your otp</h4>
                </div>
                <div class="card-body">
                    <form action="/unverified/:otp" method="post">
                        <label for="">Please inter otp number</label>
                        <input type="number" name="token" class="form-control">
                        <button type="submit" class="btn btn-success my-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>