<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header">
                    <a href="/create" class="btn btn-primary w-50">Add new data</a>
                    <a href="/unverified" class="btn btn-danger w-25">Unverified Data</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped ">
                        <thead>
                            <tr class="align-items-center">
                                <th>#</th>
                                <th>photo</th>
                                <th>Email</th>
                                <th>Cell</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.forEach(element => { %>
                                <tr class="align-items-center">
                                    <td>1</td>
                                    <td>
                                        <% if (element.photo = 'avatar.jpg') { %>
                                            <img style="width: 50px;height:50px" src="/images/<%= element.photo %> " alt="">
                                            <% } else { %>
                                                <img style="width: 50px;height:50px" src="/userphoto/<%= element.photo %> " alt="">
                                        <% } %>
                                    </td>
                                    <td><%= element.email %> </td>
                                    <td><%= element.cell %> </td>
                                    <td>
                                        <a href="" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                                        <a href="" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
                                        <a href="" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>